<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dbdesign.mapper.BillMapper">

    <!--    Integer saveBill(SaveBillRequest SaveBillRequest);-->
    <insert id="saveBill">
        INSERT INTO bill (Room_id, User_id, price, is_pay)
        VALUES (#{roomId}, #{userId}, #{price}, #{isPay});
    </insert>

    <!--Integer Integer outBill(OutBillRequest OutBillRequest);-->
    <update id="outBill">
        UPDATE bill
        SET is_delete = 1 And is_pay = 0
        WHERE User_id = #{userId}
          AND Room_id = #{roomId};
    </update>

    <select id="queryBillByid" resultType="com.example.dbdesign.model.entity.Bill">
        SELECT *
        FROM bill
        WHERE id = #{id}
          AND is_pay = 1
          AND is_delete = 0;
    </select>

    <select id="calculatePrice" resultType="Integer">
        SELECT SUM(ri2.count * ri1.item_price) + r.price * DATEDIFF(NOW(), r.create_time)
        FROM room_item AS ri1
        LEFT JOIN room r
            ON r.id = #{roomId}
        LEFT JOIN (
        SELECT id, count
        FROM
        (
        <foreach collection="consumeList" index="index" item="item" separator="UNION ALL">
            SELECT #{item.itemId} AS id, #{item.count} AS count
        </foreach>
        ) t
        ) ri2
        ON ri1.id = ri2.id
    </select>

    <update id="updateItemSell">
        UPDATE room_item
        SET item_num  = item_num - #{count},
            item_sell = item_sell + #{count}
        WHERE id = #{itemId}
    </update>



</mapper>