<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dbdesign.mapper.BillMapper">

    <!--    Integer saveBill(SaveBillRequest SaveBillRequest);-->
    <insert id="saveBill">
        INSERT INTO bill (Room_id, User_id, price, is_pay)
        VALUES (#{roomId}, #{userId}, #{price}, #{isPay});
    </insert>

    <!--Integer Integer outBill(OutBillRequest OutBillRequest);-->
    <update id="outBill">
        UPDATE bill
        SET is_delete = 1 And is_pay = 0
        WHERE User_id = #{userId}
          AND Room_id = #{roomId};
    </update>

    <select id="queryBillByid" resultType="com.example.dbdesign.model.entity.Bill">
        SELECT *
        FROM bill
        WHERE id = #{id}
          AND is_pay = 1
          AND is_delete = 0;
    </select>


        <select id="calculatePrice" resultType="Integer">
            SELECT SUM(tmp.count * ri.item_price) + r.price * DATEDIFF(NOW(), ur.create_time)
            FROM room_item ri, user_room ur, room r, (
                SELECT id, count
                FROM (
                    <foreach collection="consumeList" index="index" item="item" separator="UNION ALL">
                        SELECT #{item.itemId} AS id, #{item.count} AS count
                    </foreach>
                ) t
            ) tmp
            WHERE ri.Room_id = #{roomId}
              AND ur.room_id = #{roomId}
              AND ur.user_id = #{userId}
              AND r.id = #{roomId}
              AND tmp.id = ri.id
            GROUP BY ur.create_time
        </select>
    <select id="queryBills" resultType="com.example.dbdesign.model.entity.Bill">
        SELECT *
        FROM bill
    </select>

    <update id="updateItemSell">
        UPDATE room_item
        SET item_num  = item_num - #{count},
            item_sell = item_sell + #{count}
        WHERE id = #{itemId}
    </update>

    <select id="getItemConsumeList" resultType="com.example.dbdesign.model.entity.ItemConsumeInfo">
        SELECT ri.id as itemId, ri.item_name as itemName, ri.item_price as price, tmp.count AS count, tmp.count * ri.item_price AS totalPrice
        FROM room_item ri
        LEFT JOIN (
        SELECT id, count
        FROM
        (
        <foreach collection="consumeList" index="index" item="item" separator="UNION ALL">
            SELECT #{item.itemId} AS id, #{item.count} AS count
        </foreach>
        ) t
        ) tmp
        ON tmp.id = ri.id
    </select>

    <select id="getRoomConsumeInfo" resultType="com.example.dbdesign.model.entity.RoomConsumeInfo">
        SELECT r.id                                      AS roomId,
               r.room_number                             AS roomNumber,
               r.room_type                               AS roomType,
               DATEDIFF(NOW(), ur.create_time)           AS days,
               r.price                                   AS price,
               r.price * DATEDIFF(NOW(), ur.create_time) AS totalPrice
        FROM user_room ur
                 LEFT JOIN room r
                           ON ur.room_id = r.id
        WHERE ur.room_id = #{roomId}
          AND ur.user_id = #{userId}
    </select>


</mapper>